<!doctype html>
<html lang = "ko">

	<head>
	
		<meta charset="euc-kr">

		<title> 게임페이지 </title>

	</head>


	<body bgcolor=#FFD7EA>

		<a href="/rank"><p id="link"></p> </a>

<!--
		{% if word %}
		<p> Quiz: {{ word.word }} </br> </p>
		<p> Length: {{ word.length }} </br> </p>
		<input type="hidden" id="word" name="answer" value="{{word.word}}">
		{% else %}
		<p> No data found. </p>
		{% endif %}
-->
	{% if not end %}
	<form action="/game/" method="post">{% csrf_token %}
		<label for="answer">Answer: </label>
		<input id="answer" type="text" name="answer" value="{{ player_answer }}">
		<input id="word" type="hidden" name="word" value="{{ word }}">
		<input id="key" type="hidden" name="key" value="{{ key }}">
		<input type="submit" value="OK">
	</form>
	<form action="/game/" method="post">{% csrf_token %}
		<input id="answer" type="hidden" name="answer" value="#refresh#">
		<input id="word" type="hidden" name="word" value="{{ word }}">
		<input id="key" type="hidden" name="key" value="{{ key }}">
		<input type="submit" value="새로고침">
	</form>
	{% endif %}

		{% if end %}
			{% ifequal lives 0 %}
			<form action="/rank/" method="post">{% csrf_token %}
				<label for="id">ID: </label>
				<input id="id" type="text" name="id" value="{{ player_answer }}">
				<input id="result" type="hidden" name="result" value="lose">
				<input type="submit" value="OK">
			</form>
			{% else %}
			<form action="/rank/" method="post">{% csrf_token %}
				<label for="id">ID: </label>
				<input id="id" type="text" name="id" value="{{ player_answer }}">
				<input id="result" type="hidden" name="result" value="win">
				<input type="submit" value="OK">
			</form>
			{% endifequal %}
		{% endif %}
<!--		
		<script language="javascript">
			var count = document.getElementById("player").value;
		</script>
-->
		{% if answer %}
		<p> answer: {{ answer }} </br> </p>
		{% endif %}
		{% if lives %}
		<p> You have {{ lives }} lives. </br> </p>
		{% endif %}

		{% load staticfiles %}
		{% ifequal lives 7 %}
		<img id="image" src="{% static "images/11.jpg" %}" />
		{% endifequal %}
		{% ifequal lives 6 %}
		<img id="image" src="{% static "images/22.jpg" %}" />
		{% endifequal %}
		{% ifequal lives 5 %}
		<img id="image" src="{% static "images/33.jpg" %}" />
		{% endifequal %}
		{% ifequal lives 4 %}
		<img id="image" src="{% static "images/44.jpg" %}" />
		{% endifequal %}
		{% ifequal lives 3 %}
		<img id="image" src="{% static "images/55.jpg" %}" />
		{% endifequal %}
		{% ifequal lives 2 %}
		<img id="image" src="{% static "images/66.jpg" %}" />
		{% endifequal %}
		{% ifequal lives 1 %}
		<img id="image" src="{% static "images/77.jpg" %}" />
		{% endifequal %}
		{% ifequal lives 0 %}
		<img id="image" src="{% static "images/88.jpg" %}" />
		{% endifequal %}

<!--
		{% if count %}
			{% if count|divisibleby:2 %}
			<button id="input">Input</button>
			{% endif %}
		{% endif %}
		<p id="answer"></p>
		<p id="wrong"></p>
		
		<script language="javascript">

			var answer = document.getElementById("word").value;
			var show = document.getElementById("answer");
			var fail = document.getElementById("wrong");
			var hangman = document.getElementById("hangman");
			var link = document.getElementById("link");
			var temp = "";
	
			for(i=0; i<answer.length; i++) {
				temp += "_";
			}
			//name = prompt("username", "default")
			//document.write("Hello " + name + "!\n")

			input.onclick = function() {

				ans = prompt("Input a letter or an answer", "a-z");
				if(ans.length > 1) {
					if(ans == answer) {
						show.innerHTML = "You Win!";
						link.innerHTML = "랭크페이지";
					} else {
						fail.innerHTML += "Wrong ";
					}
					return;
				}
				var count = 0;
				for(i=0; i<answer.length; i++) {
					if(answer[i] == ans) {
						temp = temp.substring(0,i)+ans+temp.substring(i+1,answer.length);
						count += 1;
					}
				}
				if(count == 0) {
					fail.innerHTML += ans + " ";
				}
				if(temp == answer) {
					show.innerHTML = "You Win!";
					link.innerHTML = "랭크페이지";
				} else {
					show.innerHTML = temp;
				}
			}
		</script>
-->	
	</body>
  
</html>