<!doctype html>
<html lang = "ko">

	<head>
	
		<meta charset="euc-kr">

		<title> 메인페이지 </title>
	
		<style>

		h1{

			color: #fff;
			font-size: 200px;

		}

		body {
			background-color: #ffcccc;
	 	 	font-family: "HelveticaNeue-Light";
	  		height:100%;
	  		text-align:center;
	  		font-size:18px;
		}

		</style>


	</head>

	<body>

		<h1> HANG MAN </h1>

		<form action="/wait/" method="post">{% csrf_token %}
			<input id="new" type="hidden" name="new" value="new">
			<input type="submit" value="대기페이지">
		</form>

		</br>

		<form action="/rank/" method="post">{% csrf_token %}
			<input type="submit" value="랭킹페이지">
		</form>

	</body>

</html>