
<!doctype html>
<html lang = "ko">

	<head>
	
	<meta charset="euc-kr">

	<title> 메인페이지 </title>

	</head>


<!-- 60D7D7 D7D7EA -->
	<body bgcolor=#FFD7EA>

	<!-- <p> ID: <input type="text"> <input type="button" value="확인" onclick="location.href='/wait'"> </p> -->

	<!-- <input type = "submit" value="확인"> -->

	<a href="/wait"> <p>대기페이지</p> </a>

	<a href="/rank"> <p>랭킹페이지</p> </a>
		
<!--	<form name="input" method="post" action="http://127.0.0.1:8000/index/aaaaa/">
	 {% csrf_token %}
    	<input type="text"va="va" maxlength="10">
    	<input type="submit" value="전송">
	</form>
	<p> va:</p> --!>
	</body>