
<!doctype html>
<html lang = "ko">

	<head>
	
	<meta charset="euc-kr">

	<title> 랭킹페이지 </title>

	</head>



	<body>

	<a href="http://127.0.0.1:8000/index"> <p>메인페이지 </p></a>


	{% if ranker %}
	<p> Ranking </br> </p>
	{% for rank in ranker %}
	<table>	
		<tr>
			<td>등수</td>
			<td>아이디</td>
			<td>점수</td>
		</tr>
		<tr>
			<td>1</td>
			<td>{{rank}}</td>
			<td></td>
		</tr>
		<tr>
			<td>2</td>
			<td>{{rank}}</td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>{{rank}}</td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>5</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	{% endfor %}
	{% endif %}
	</body>