<!doctype html>
<html lang = "ko">

	<head>
	
	<meta charset="euc-kr">

	<title> 대기페이지 </title>

	<style>

	p{
	
	color: #fff;
	font-size:30px;
	
	}

	body {
	background-color: #ffcccc;
  	font-family: "HelveticaNeue-Light";
  	height:100%;
  	text-align:center;
  	font-size:18px;
	}

	</style>


	</head>



	<body>
	<p> Now {{ player }} players are Online. </br> </p>

	<form action="/wait/" method="post">{% csrf_token %}
		<input id="new" type="hidden" name="new" value="">
		<input id="key" type="hidden" name="key" value="{{ key }}">
		<input type="submit" value="새로고침">
	</form>

	{% if player >= 4 %}
		</br>
		<form action="/game/" method="post">{% csrf_token %}
			<input id="new" type="hidden" name="new" value="new">
			<input id="key" type="hidden" name="key" value="{{ key }}">
			<input type="submit" value="게임페이지">
		</form>
<!--		<a href="/game"><p> 게임페이지 </p></a> -->
	{% endif %}
	</br>
	<form action="/index/" method="post">{% csrf_token %}
		<input id="back" type="hidden" name="back" value="back">
		<input type="submit" value="뒤로가기">
	</form>

	</body>